{% extends '_global/index.html' %}

{% block title %}
Admin Home
{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
              <a class="btn btn-danger btn-block" href="{{ BASE }}admin/item/add">Add an item</a>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-danger btn-block" href="{{ BASE }}admin/category/add">Add a Category</a>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-danger btn-block" href="{{ BASE }}admin/items">View all items</a>
            </div>

        </div>
    </div>

{% endblock %}