{% extends '_global/index.html' %}

{% block main %}

<div class="container">

    <h1 class="text-center text-primary">Welcome {{ user.username }}</h1>
    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapseExample">
            Show past purchases
        </button>
    </p>
    <div class="container collapse" id="collapse">
    {% for purchase in purchases %}
    <div class="row">
        <div class="col-sm-4"> <a href="/item/{{ purchase.item_id }}"> {{ purchase.item_name }} </a></div>
        <div class="col-sm-4"> {{ purchase.item_description }} </div>
        <div class="col-sm-4"> {{ purchase.item_price }} $</div>
    </div>
    <hr>
    {% endfor %}
    </div>
    <div class="row">
        <div class="col-sm-12">
            Total number of purchases is {{ purchases|length }}
        </div>
    </div>
</div>
{% endblock %}